.logo{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: #E08645;
    border-width: 5px;
    border-style: solid;
}

/*This section is used to change the fonts */
.titleFont{
    font-size:xx-large;
}

.italicFont{
    font-style: italic;
}

/*This section has all the widths and heights for different types of objects*/
.widthFull{
    width: 100%;
}

.heightFull{
    height: 100vh;
}

/*This section has all the padding and margins for different types of objects*/
.centerHorizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerVertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin10{
    margin: 10px;
}

/*This section has all the class colours that will be used in the website*/
.mainColor{
    color: #282c34;
}
.mainColorBG{
    color: #fff;
    background-color: #282c34;
}

.accentColor{
    color: #E08645;
}
.accentColorBG{
    color: #fff;
    background-color: #E08645;
}

.linkColor{
    color: black;
    background-color: #9A2D26;
}

/*Debug section*/
.addBorder{
    border: red;
    border-style: dashed;
}