:root{
    --primary-color: #282c34;
    --accent-color: #E08645;
    --link-color: #9A2D26;
}

.logo{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: var(--accent-color);
    border-width: 5px;
    border-style: solid;
}

.nav ul{
    display: flex;
    align-items: center;
}
.nav li{
    margin: 10px;
}
.nav a{
    color: white;
    transition: color 0.2s ease;
}
.nav a:hover{
    color: var(--link-color);
    transition: color 0.2s ease;
}
/*This section is used to change the fonts */
.titleFont{
    font-size:xx-large;
}

.italicFont{
    font-style: italic;
}

/*This section has all the widths and heights for different types of objects*/
.widthFull{
    width: 100%;
}

.heightFull{
    height: 100vh;
}

/*This section has all the padding and margins for different types of objects*/
.relativePos{
    position: relative;
}

.centerHorizontal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerVertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin10{
    margin: 10px;
}

.margin20{
    margin: 20px;
}

/*This section has all the class colours that will be used in the website*/
.mainColor{
    color: var(--primary-color);
}
.mainColorBG{
    color: #fff;
    background-color: var(--primary-color);
}

.accentColor{
    color: var(--accent-color);
}
.accentColorBG{
    color: #fff;
    background-color: var(--accent-color);
}

.linkColor{
    color: black;
    background-color: var(--link-color);
}

/*Debug section*/
.addBorder{
    border: red;
    border-style: dashed;
}